$main-color: #000000;
$footer-bg: #ECECEC;
$orange: #FF7F56;
$pink: #E7426A;
$main-bg: #e7d9d3;
$white: #ffffff;
$gray: gray;

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Regular.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Extrabld.woff") format("woff");
    font-weight: 800;
}