.section-map {
    margin-bottom: 70px;
}

.section-contacts__title,
.section-contacts__text {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.section-contacts__title {
    font-weight: 700;
}

.section-contacts__text {
    font-weight: 400;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 1440px;
    height: 432px;
}

@media (min-width: 992px) and (max-width: 1449px) {
    iframe {
        width: 992px;
        height: 298px;
    }
}

// @media (min-width: 768px) and (max-width: 991px) {
//     iframe {
//         width: 768px;
//         height: 230px;
//     }
// }

// @media (min-width: 481px) and (max-width: 767px) {
//     iframe {
//         width: 481px;
//         height: 144px;
//     }
// }

// @media (max-width: 480px) {
//     iframe {
//         width: 250px;
//         height: 75px;
//     }
// }